<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kongregate.android.internal.sdk" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="27"
        tools:overrideLibrary="com.swrve.sdk, com.swrve.sdk.common, com.swrve.swrvesdkcommon, com.swrve.sdk.conversations, android.support.v4, com.deltadna.android.sdk" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.kongregate.android.api.activities.KongregatePanelActivity"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:hardwareAccelerated="true"
            android:label="Kongregate"
            android:launchMode="singleTop"
            android:screenOrientation="sensor"
            android:theme="@style/KongregateDialogTheme" >
        </activity>

        <receiver
            android:name="com.kongregate.android.api.receivers.InstallReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

            <meta-data
                android:name="foreward.adjust"
                android:value="com.adjust.sdk.AdjustReferrerReceiver" />
            <meta-data
                android:name="foreward.swrve"
                android:value="com.swrve.sdk.SwrveInstallReferrerReceiver" />
        </receiver>
        <receiver
            android:name="com.kongregate.android.api.swrve.KongSwrvePushEngageReceiver"
            android:exported="true" />
    </application>

</manifest>